<% wrap_layout :layout do %>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Ruby Meetup Resources</a>
      </div>
    </div>
  </nav>



  <div id="resources" class="container">
    <h1><%= current_article.title.capitalize %></h1>
    <%= yield %>
  </div>
<% end %>
