@import "bootstrap";

#resources {
  padding-top: 50px;
}

section {
  padding: 40px 0;

  &.dark {
    background: darken($body-bg, 6.5%);
  }

  &.jumbotron {
    margin-bottom: 0;
  }
}

@media (max-width: $grid-float-breakpoint) {
  .nav.navbar-nav.pull-right {
    float: none!important;
  }
}

body {
  padding-bottom: 50px;
}

@media (min-width: 1200px) {
 .container {
    width: 970px
  }
}
