$font-size-base: 16px;

$navbar-height: 50px;

$navbar-default-bg: #FFFFFF;
$navbar-default-brand-color: #6FCAC2;

$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$jumbotron-bg: #6FCAC2;
$jumbotron-color: #FFFFFF;

