---
title: 404 Not Found
---

<div id="nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><span class="dot fa fa-circle"></span>Ruby meetup resources</a>
    </div>
  </div>
</div>

<div class="jumbotron text-center">
  <h1>404 Not Found</h1>
  <p>The page you requested could not be found.</p>
  <p><a class="btn btn-primary btn-lg" href="/">Home</a></p>
</div>
