---
title: Beginner Resources
---

<section id="home" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>List of beginner resources</h1>
        <p>A simple list of resources for beginner rubyists.  Could be useful if you're
        just running a mentoring session or similar to get people who are new to ruby
        up to speed.</p>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <ul>
        <li><h3>Try Ruby</h3>
        <p><a href="https://www.codeschool.com/paths/ruby">Try Ruby</a>.  Written by codeschool, basic Ruby in the browser.  Even has some artwork from Why's Poignant guide..</p></li>

        <li><h3>Ruby Koans</h3>
        <p> <a href="http://rubykoans.com/">Ruby Koans</a> was written by Jim Weirich and Joe O’Brien, it's a great intro to Ruby, delivered TDD style</p></li>

        <li><h3>Codecademy Ruby Track</h3>

        <p><a href="http://www.codecademy.com/tracks/ruby">The Ruby Track</a> More coding in-browser challenges</p></li>

        <li><h3>Ruby Warrior</h3>

        <p><a href="https://www.bloc.io/ruby-warrior/">Ruby Warrior</a>. A prettier version of Ryan Bates' ruby-warrior.  It doesn't have the scoreboard / code sharing version though like the
        ruby-meetup-resources one does.. Also, it suffers from the fact that you're not in your natural coding habitat.  That said, it's great fun!</p></li>

        <li><h3>Ruby Monk</h3>

        <p><a href="https://rubymonk.com/">Ruby Monk</a> Another interactive platform with a general intro to the language</p></li>

      </ul>

        Thanks to <a href="http://netguru.co" target="_blank">netguru</a> for putting the initial list together, and helpfully tweeting about it! .. the fuller list is <a href="https://netguru.co/blog/top-free-online-ruby-tutorials" target="_blank">available here</a>
    </div>
  </div>
</div>
