---
title: Ruby Meetup Resources
pageable: true
per_page: 10
---

<section id="home" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Ruby Meetup Resources</h1>
        <p>Help for running a ruby meetup.</p>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h1>Welcome</h1>
      <p>Running a meetup can be quite a lot of effort. We thought it would be great
      to make it easier for meetups to share resources which they've created, which could
      be used by other meetups. So far there are just a couple of resources, but we
      are hopeful this list will grow, especially with your support.</p>

      <p>You can browse a list of the resources at <a href="https://github.com/ruby-meetup-resources">https://github.com/ruby-meetup-resources</a>.
      If you have a contribution to make, please just open an issue on <a href="https://github.com/ruby-meetup-resources/new-resources">https://github.com/ruby-meetup-resources/new-resources</a>

      <p>Finally, please tweet, mail your friends, and generally help get the word out there!</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-9">
      <h2>Contribution Guidelines</h2>
      <p>Ideally we are looking for <b>hack night / game resources</b>.  While we do have a <a href="./beginner_resources">list of beginner Ruby resources</a>,
      ideally we are looking for things which are:</p>
      <ol>
        <li><b>Ready to go.</b>.<br/>There shouldn't be too much configuration required to get the resource running.  Otherwise it's not making your life easier ;)</li>
        <li><b>Have a collaboration / team / game environment.</b>.<br/>There are lots of great resources out there for coding challeges etc (some listed on the
        beginner page), but what we're looking for is something "fun", like the robotwars, or a scoreboard for some sort of coding challenge type event.  Well, that's the ideal
        anyway, but sure it's all up for debate, and if you have something to contribute or a different idea, please, <a href="https://github.com/ruby-meetup-resources/new-resources">add your idea</a>
      </ol>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-9">
      <h2>Current Resources</h2>
      <% page_articles.each_with_index do |article, i| %>
        <h2><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></h2>
        <!-- use article.summary(250) if you have Nokogiri available to show just
             the first 250 characters -->
        <%= article.body %>
      <% end %>
    </div>
  </div>
</div>
