---
title: Ruby Meetup Resources
---

<section id="home" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Ruby Meetup Resources</h1>
        <p>Help for running a ruby meetup.</p>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h1>Welcome</h1>
      <p>Running a meetup can be quite a lot of effort. We thought it would be great
      to make it easier for meetups to share resources which they've created, which could
      be used by other meetups. So far there are just a couple of resources, but we
      are hopeful this list will grow, especially with your support.</p>

      <p>You can browse a list of the resources at <a href="https://github.com/ruby-meetup-resources">https://github.com/ruby-meetup-resources</a>.
      If you have a contribution to make, please just open an issue on <a href="https://github.com/ruby-meetup-resources/new-resources">https://github.com/ruby-meetup-resources/new-resources</a>

      <p>Finally, please tweet, mail your friends, and generally help get the word out there!</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-9">
      <h1>Resources</h1>
      <ul>
        <li><a href="https://github.com/ruby-meetup-resources/rubywarrior_scoreboard">A scoreboard for ruby-warrior</a>(and associated <a href="https://github.com/ruby-meetup-resources/scoreboard_rubywarrior">gem</a>)<br/>This website &amp; gem wrap the excellent ruby-warrior (by Ryan Bates), with the ability to share code and scores between particpants.  Easy to fork and setup your own internal competition, and a great way for new rubyists to play with the language and learn from peers</li>
        <li><a href="https://github.com/ruby-meetup-resources/robotwars">Robotwars</a><br/>
          This repo is just a basic setup for using the rrobots gem to run a run simulation where you drive AI tanks around.  You need to provide your own server (but having a repo where people can push their tanks is probably enough</li>
      </ul>
    </div>
  </div>
</div>
